<!-- Flawless -->

<div class="row" ng-if="index.isAuthenticated()">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center"><strong>Amministra i Log</strong></h2>
      </div>
    </div>

    <div class="row br-lg"></div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="text-center">Gestisci i Log esistenti</h4>
        </div>
      </div>

      <hr/>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-xs-3 text-center">Nome</th>
                <th class="col-xs-3 text-center">Cognome</th>
                <th class="col-xs-3 text-center">Username</th>
                <th class="col-xs-3 text-center">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="log in ctrl.logs">
                <td class="text-center" style="padding-top: 9px;">{{log.user.firstName}}</td>
                <td class="text-center" style="padding-top: 9px;">{{log.user.lastName}}</td>
                <td class="text-center" style="padding-top: 9px;">{{log.user.username}}</td>
                <td class="text-center" style="padding-top: 9px;">{{log.createdAt.date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row br-lg"></div>
</div>
