<!-- Flawless -->

<div class="row" ng-if="index.isAuthenticated()">
  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Categorie</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/categorie')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Dj</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/dj')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Log</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/log')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Pr</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/pr')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>Sponsor</strong></h3>
        </div>
      </div>

      <div class="row br-sm">

        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <button type="button" class="btn btn-primary" ng-click="index.redirect('amministrazione/sponsor')">Amministra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row br-lg"></div>
</div>
