<!-- Flawless -->

<div class="row">
  <div class="col-xs-12">
    <img src="images/logo.jpg" class="img-responsive img-rounded center-block"/>
  </div>
</div>

<div class="row br-lg"></div>

<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="category in ctrl.categories">
    <div class="jumbotron well-sm">
      <div class="row br-xs"></div>

      <div class="row">
        <div class="col-xs-12">
          <img ng-src="{{category.image | decache}}" class="img-responsive img-rounded center-block"/>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button type="button" class="btn btn-success" ng-click="ctrl.redirect('categoria/' + category.id + '/crea/evento')" ng-if="category.id == index.user.category.id || index.user.id == 1">Aggiungi</button>
            <button type="button" class="btn btn-success" ng-click="ctrl.redirect('categoria/' + category.id + '/modifica')" ng-if="category.id == index.user.category.id || index.user.id == 1">Modifica</button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.redirect('categoria/' + category.id)">Vai</button>
          </div>
        </div>
      </div>

      <div class="row br-xs"></div>
    </div>
  </div>
</div>
