<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="dj in ctrl.djs">
    <div class="jumbotron well-sm">
      <div class="row br-xs"></div>

      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center"><strong>{{dj.firstName}} {{dj.lastName}}</strong></h3>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <img ng-src="{{dj.externalImage}}" class="img-responsive img-rounded center-block"/>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button type="button" class="btn btn-success" ng-click="ctrl.redirect('dj/' + dj.id + '/modifica')" ng-if="ctrl.isAuthenticated()">Modifica</button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.redirect('dj/' + dj.id)">Vai</button>
          </div>
        </div>
      </div>

      <div class="row br-xs"></div>
    </div>
  </div>
</div>
