<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12" ng-repeat="event in ctrl.pagination.events">
    <div class="jumbotron well-sm">
      <div class="row">
        <div class="row br-lg"></div>

        <div class="col-md-5 col-xs-5 col-xs-12">
          <img src="https://placeholdit.imgix.net/~text?txtsize=23&txt=400%C3%97250&w=400&h=250" class="img-responsive img-rounded center-block"/>
        </div>
        <div class="col-md-7 col-xs-7 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="text-center"><strong>{{event.name}}</strong></h2>
            </div>
          </div>

          <div class="row br-lg"></div>

          <div class="row">
            <div class="col-xs-12">
              <p class="text-center">{{event.description}}</p>
            </div>
          </div>

          <div class="row br-lg"></div>

          <div class="row">
            <div class="col-xs-12">
              <p class="text-center">Partecipanti: {{event.partecipants.length}}/{{event.maximumPartecipants}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row br-lg"></div>

      <div class="row">
        <div class="col-md-5">
          {{ctrl.category.prs}}
          <div angucomplete-alt
          placeholder="Pr..."
          pause="100"
          selected-object="ctrl.pr"
          local-data="ctrl.category.prs"
          search-fields="firstName,lastName"
          title-field="firstName,lastName"
          minlength="1"
          input-class="form-control form-control-small"
          match-class="highlight"></div>
          <div>
          </div>
        </div>


      </div>

      <div class="text-center">
        <h1>AngularJS - Pagination Example with logic like Google</h1>

        <!-- items being paged -->
        <div ng-repeat="item in vm.items">Item {{item}}</div>

        <!-- pager -->
        <ul ng-if="vm.pager.pages.length" class="pagination">
          <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(1)">First</a>
          </li>
          <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
          </li>
          <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
            <a ng-click="vm.setPage(page)">{{page}}</a>
          </li>
          <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
          </li>
          <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
