<!-- Flawless -->

<div class="row" ng-if="ctrl.category.id == index.user.category.id || index.user.id == 1">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
    <div class="row">
      <div class="funkyradio">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio1" checked/>
            <label for="radio1">Evento Corrente</label>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio2" ng-click="index.locate('categoria/' + ctrl.category.id + '/pagina/1')"/>
            <label for="radio2">Eventi Trascorsi</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row br-lg"></div>

<div class="row" ng-if="ctrl.event">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
    <div class="jumbotron well-sm">
      <div class="row">
        <div class="row br-lg"></div>

        <div class="col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <img ng-src="{{ctrl.event.image | decache}}" class="img-responsive img-rounded center-block"/>
        </div>

        <div class="col-md-7 col-sm-7 col-xs-12">
          <div class="row br-lg visible-xs"></div>

          <div class="row">
            <div class="col-xs-12">
              <h2 class="text-center"><strong>{{ctrl.event.name}}</strong></h2>
            </div>
          </div>

          <div class="row br-lg"></div>

          <div class="row">
            <div class="col-xs-12">
              <p class="text-center" ng-bind-html="ctrl.event.description | json | newLine | parseUrl | removeEscape | dejson"></p>
            </div>
          </div>

          <div class="row br-lg"></div>

          <div class="row" ng-if="index.user.id == 1">
            <div class="col-xs-4">
              <div class="text-right" style="margin-right: -25px;">Partecipanti:</div>
            </div>

            <div class="col-xs-5" style="margin-top: -3px;">
              <div class="input-group add-on">
                <input type="number" class="form-control input-sm" style="height: 22px;" ng-change="ctrl.onPartecipantsCounterChange(ctrl.partecipantsCounter, ctrl.event)" ng-model="ctrl.partecipantsCounter">

                <div class="input-group-btn">
                  <button type="button" class="btn btn-success btn-xs" ng-click="ctrl.increasePartecipantsCounter(ctrl.partecipantsCounter, ctrl.event)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>

            <div class="col-xs-3">
              <div style="margin-left: -25px;">/{{ctrl.event.maximumPartecipants}}</div>
            </div>
          </div>

          <div class="row" ng-if="index.user.id != 1">
            <div class="col-xs-12">
              <p class="text-center">Partecipanti: {{ctrl.event.partecipantsCounter}}/{{ctrl.event.maximumPartecipants}}</p>
            </div>
          </div>

          <div class="row br-lg" ng-if="ctrl.category.id == index.user.category.id || index.user.id == 1"></div>

          <div class="row" ng-if="ctrl.category.id == index.user.category.id || index.user.id == 1">
            <div class="col-xs-12">
              <div class="text-center">
                <button type="button" class="btn btn-danger" ng-click="ctrl.remove(ctrl.event)">Rimuovi</button>
                <button type="button" class="btn btn-success" ng-click="index.locate('amministrazione/evento/' + ctrl.event.id + '/modifica')">Modifica</button>
              </div>
            </div>
          </div>

          <div class="row br-sm" ng-if="ctrl.category.id == index.user.category.id || index.user.id == 1"></div>

          <div class="row" ng-if="ctrl.category.id == index.user.category.id || index.user.id == 1">
            <div class="col-xs-12">
              <div class="text-center">
                <button type="button" class="btn btn-default" ng-click="ctrl.openPartecipantsPrsPdf(ctrl.event)">Partecipante/Pr</button>
                <button type="button" class="btn btn-default" ng-click="index.locate('amministrazione/evento/' + ctrl.event.id + '/pdf')">Partecipanti</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row br-lg" ng-if="ctrl.event.partecipantsCounter < ctrl.event.maximumPartecipants && ctrl.event.show"></div>

      <div class="row" ng-if="ctrl.event.partecipantsCounter < ctrl.event.maximumPartecipants && ctrl.event.show">
        <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <input type="text" class="form-control" placeholder="Nome e Cognome..." ng-model="ctrl.name" required/>
        </div>

        <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <div class="row br-xs visible-xs"></div>

          <div placeholder="Pr..." angucomplete-alt input-class="form-control" match-class="highlight" minlength="1" pause="100" text-no-results="Nessun Pr trovato"
          local-data="ctrl.category.prs" selected-object="ctrl.selectedPr" search-fields="firstName,lastName" title-field="firstName,lastName"></div>
        </div>

        <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <div class="row br-xs visible-xs"></div>

          <div class="text-right">
            <button type="button" class="btn btn-primary" ng-click="ctrl.addPartecipant(ctrl.name, ctrl.selectedPr, ctrl.event)">Partecipa</button>
          </div>
        </div>
      </div>

      <div class="row br-lg"></div>
    </div>
  </div>
</div>

<div class="row" ng-if="!ctrl.event">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <div class="jumbotron">
      <h3 class="text-center"><strong>Non sono presenti Eventi nella Categoria {{ctrl.category.name}}</strong></h3>
    </div>
  </div>
</div>

<div class="row br-lg"></div>
