<div class="row" ng-if="ctrl.category.id == ctrl.user.category.id || ctrl.user.id == 1">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <div class="row">
      <div class="funkyradio">
        <div class="col-sm-6">
          <div class="funkyradio-primary">
            <input type="radio" name="radio" id="radio1" ng-click="ctrl.onShowNewEventsClick(ctrl.category)" ng-checked="ctrl.getPaginateNewEvents()"/>
            <label for="radio1">Eventi nuovi</label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="funkyradio-info">
            <input type="radio" name="radio" id="radio2" ng-click="ctrl.onShowOldEventsClick(ctrl.category)" ng-checked="!ctrl.getPaginateNewEvents()"/>
            <label for="radio2">Eventi trascorsi</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row br-lg"></div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12" ng-repeat="event in ctrl.pagination.events">
    <div class="jumbotron well-sm">
      <div class="row">
        <div class="row br-lg"></div>

        <div class="col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <img ng-src="{{event.image | decache}}" class="img-responsive img-rounded center-block"/>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <div class="row br-lg visible-xs"></div>

          <div class="row">
            <div class="col-xs-12">
              <h2 class="text-center"><strong>{{event.name}}</strong></h2>
            </div>
          </div>

          <div class="row br-lg"></div>

          <div class="row">
            <div class="col-xs-12">
              <p class="text-center" ng-bind-html="event.description | linky"></p>
            </div>
          </div>

          <div class="row br-lg"></div>

          <div class="row">
            <div class="col-xs-12">
              <p class="text-center">Partecipanti: {{event.partecipants.length}}/{{event.maximumPartecipants}}</p>
            </div>
          </div>

          <div class="row br-lg" ng-if="ctrl.category.id == ctrl.user.category.id || ctrl.user.id == 1"></div>

          <div class="row" ng-if="ctrl.category.id == ctrl.user.category.id || ctrl.user.id == 1">
            <div class="col-xs-12">
              <div class="text-center">
                <button type="button" class="btn btn-success" ng-click="ctrl.redirect('evento/' + event.id + '/modifica')">Modifica</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.openPartecipantsPrsPdf(event)">Partecipante/Pr</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.openPartecipantsPdf(event)">Partecipanti</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="event.partecipants.length < event.maximumPartecipants && event.show">
        <div class="row br-lg"></div>

        <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <input type="text" class="form-control" placeholder="Nome e Cognome..." ng-model="ctrl.name" required/>
        </div>

        <div class="col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <div class="row br-xs visible-xs"></div>

          <div placeholder="Pr..." angucomplete-alt input-class="form-control" match-class="highlight" minlength="1" pause="100"
          local-data="ctrl.category.prs" selected-object="ctrl.pr" search-fields="firstName,lastName" title-field="firstName,lastName"></div>
        </div>

        <div class="col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <div class="row br-xs visible-xs"></div>

          <div class="text-right">
            <button type="button" class="btn btn-primary" ng-click="ctrl.addPartecipant(ctrl.name, event, ctrl.pr.description)">Partecipa</button>
          </div>
        </div>
      </div>

      <div class="row br-lg"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12">
    <div class="text-center">
      <ul class="pagination" ng-if="ctrl.pagination">
        <li ng-class="{disabled: ctrl.pagination.page == 1}">
          <a class="hidden-sm hidden-xs" ng-click="ctrl.redirectToPage(1)">Inizio</a>
          <a class="visible-sm visible-xs" ng-click="ctrl.redirectToPage(1)"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
        </li>

        <li ng-class="{disabled: ctrl.pagination.page == 1}">
          <a class="hidden-sm hidden-xs" ng-click="ctrl.redirectToPage(ctrl.pagination.page - 1)">Precedente</a>
          <a class="visible-sm visible-xs" ng-click="ctrl.redirectToPage(ctrl.pagination.page - 1)"><i class="fa fa-backward" aria-hidden="true"></i></a>
        </li>

        <li ng-repeat="page in ctrl.pagination.pages" ng-class="{active: ctrl.pagination.page == page}">
          <a ng-click="ctrl.redirectToPage(page)">{{page}}</a>
        </li>

        <li ng-class="{disabled: ctrl.pagination.page == ctrl.pagination.totalPages}">
          <a class="hidden-sm hidden-xs" ng-click="ctrl.redirectToPage(ctrl.pagination.page - 1 + 2)">Successivo</a>
          <a class="visible-sm visible-xs" ng-click="ctrl.redirectToPage(ctrl.pagination.page - 1 + 2)"><i class="fa fa-forward" aria-hidden="true"></i></a>
        </li>

        <li ng-class="{disabled: ctrl.pagination.page == ctrl.pagination.totalPages}">
          <a class="hidden-sm hidden-xs" ng-click="ctrl.redirectToPage(ctrl.pagination.totalPages)">Fine</a>
          <a class="visible-sm visible-xs" ng-click="ctrl.redirectToPage(ctrl.pagination.totalPages)"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
