<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center"><strong>Login</strong></h2>
      </div>
    </div>

    <div class="row br-sm"></div>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">Esegui il Login per accedere come Amministratore</p>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <input type="text" class="form-control" placeholder="Username..." ng-model="ctrl.username" required/>
      </div>
    </div>

    <div class="row br-xs"></div>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-right"><a href="/utente/password/recupera">Password dimenticata?</a></p>
        <input type="password" class="form-control" placeholder="Password..." ng-model="ctrl.password" required/>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <button type="button" class="btn btn-success" ng-click="ctrl.login(ctrl.username, ctrl.password)">Login</button>
        </div>
      </div>
    </div>

    <div class="row br-lg"></div>
  </div>
</div>
