<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="sponsor in ctrl.sponsors">
    <div class="jumbotron well-sm">
      <div class="row br-xs"></div>

      <div class="row">
        <div class="col-xs-12">
          <img ng-src="{{sponsor.image | decache}}" class="img-responsive img-rounded center-block"/>
        </div>
      </div>

      <div class="row br-sm"></div>

      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <button type="button" class="btn btn-primary" ng-click="index.redirectToSite(sponsor.link)">Vai</button>
          </div>
        </div>
      </div>

      <div class="row br-xs"></div>
    </div>
  </div>
</div>
