<div class="row" ng-if="ctrl.category.id == index.user.category.id || index.user.id == 1">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center"><strong>Modifica Evento</strong></h2>
      </div>
    </div>

    <div class="row br-sm"></div>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">Modifica l'Evento {{ctrl.event.name}} della Categoria {{ctrl.event.category.name}}</p>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <input type="text" class="form-control" placeholder="Nome..." ng-model="ctrl.name" required/>
      </div>
    </div>

    <div class="row br-sm"></div>

    <div class="row">
      <div class="col-xs-12">
        <div class="dropdown">
          <p class="dropdown-toggle" id="dropdown" data-toggle="dropdown">
            <input type="text" class="form-control" placeholder="Data e Ora..." data-ng-model="ctrl.startingDate" ng-change="ctrl.onStartingDateChange(ctrl.startingDate)">
          </p>
          <ul class="dropdown-menu">
            <datetimepicker data-datetimepicker-config="{dropdownSelector: '#dropdown'}" data-ng-model="ctrl.startingDate" ng-change="ctrl.onStartingDateChange(ctrl.startingDate)"/>
          </ul>
        </div>
      </div>
    </div>

    <div class="row br-sm"></div>

    <div class="row">
      <div class="col-xs-12">
        <input type="number" class="form-control" placeholder="Partecipanti..." ng-change="ctrl.onMaximumPartecipantsChange(ctrl.maximumPartecipants, ctrl.event)" ng-model="ctrl.maximumPartecipants" required/>
      </div>
    </div>

    <div class="row br-sm"></div>

    <div class="row">
      <div class="col-xs-12">
        <textarea rows="5" class="form-control" placeholder="Descrizione..." ng-model="ctrl.description" style="resize: none;"></textarea>
      </div>
    </div>

    <div class="row br-xs"></div>

    <div class="row">
      <div class="col-xs-12">
        <p class="text-right"><a ng-click="ctrl.removeImage()">Rimuovi Immagine</a></p>
        <p class="text-right"><a ng-click="ctrl.restoreImage(ctrl.event.image)">Ripristina Immagine</a></p>

        <div class="form-control" ngf-select ngf-drop ngf-change="ctrl.changeImage(image)" ngf-accept="'image/*'" ngf-pattern="'image/*'" ng-if="!ctrl.image" ng-model="image">
          <div class="placeholder">Immagine...</div>
        </div>

        <div class="form-control form-control-image" ngf-select ngf-drop ngf-change="ctrl.changeImage(image)" ngf-accept="'image/*'" ngf-pattern="'image/*'" ng-if="ctrl.image" ng-model="image">
          <div class="row">
            <div class="col-xs-12">
              <img ngf-src="ctrl.image" class="img-responsive img-rounded center-block">
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <button type="button" class="btn btn-success" ng-click="ctrl.updateEvent(ctrl.name, ctrl.startingDate, ctrl.maximumPartecipants, ctrl.description, ctrl.image, ctrl.event)">Modifica</button>
        </div>
      </div>
    </div>

    <div class="row br-lg"></div>
  </div>
</div>
