body {
  margin-bottom: 65px;
}

html {
  min-height: 100%;
  position: relative;
}

footer {
  bottom: 0px;
  color: #FFF;
  height: 65px;
  min-width: 300px;
  padding-top: 15px;
  position: absolute;
  width: 100%;
}

.footer-inverse {
  background-color: #333;
}

.footer-inverse p {
  color: #FFF;
}
