.navbar-inverse {
  background-color: #792468;
}

.navbar-inverse .navbar-brand img {
  height: 200%;
  margin-left: -15px;
  max-width: 100%;
  vertical-align: middle;
  width: auto;
}

@media screen and (max-width: 767px) {
  .navbar-inverse .navbar-brand {
    margin-bottom: 20px;
  }

  .navbar-inverse .navbar-brand img {
    margin-left: 0px;
    margin-bottom: 10px;
    width: 145px !important;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
  padding: 15px 0 15px 30px;
}

@media screen and (max-width: 767px) {
  .navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    padding: 5px 0 5px 0px;
    text-align: center;
    width: 100%;
  }
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: transparent;
  color: #EE3B25;
}

.navbar-inverse .navbar-toggle {
  background: transparent !important;
  border: 0px;
}

@media screen and (max-width: 767px) {
  .navbar-inverse .navbar-toggle {
    margin-right: 6px;
    margin-top: 20px;
  }
}

.main-nav{
    width: auto;
}
